# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual envs
.venv/
env/

# Data & models
data/
models/
*.pt
*.pkl
*.joblib

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Misc
.env
.DS_Store
